/* Navbar Styling*/
body {
  font-family: Futura, sans-serif;
  margin: auto;
}

header {
  height: 60px;
  text-align: right;
  background-color: darkgrey;
  margin: 0px 0px 10px 10%;
  padding-left: 30px;
  width: 80%;
}

.nav div {
  display: inline-block;
  text-decoration: none;
  padding: 20px 20px;
  margin: 0px 10px;
  color: white;
}

#logo {
  float: left;
  padding: 10px;
  margin: 0;
  color: white;
}

.nav a {
  text-decoration: none;
}

.nav a:visited {
  color: white;
}

.nav a:hover {
  color: gold;
}

/*History.html styling*/
.wrapper {
  width: 80%;
  min-width: 300px;
  background-color: cornflowerblue;
  padding: 15px;
  overflow: auto;
  margin: 0 10%;
}

/*about.html styling*/
.about p {
  width: 45%;
  float: left;
  margin-left: 50px;
}

.richards {
  float: right;
  margin-right: 50px;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  border: 1px solid black;
  background-image: url(../img/richards.jpg);
  background-size: cover;
}


/*Discography.html styling*/
.album {
  width: 300px;
  border: 5px solid black;
  display: inline-block;
  margin: 10px 10% 0 10%;
  background-color: lightblue;
  font-family: sans-serif;
}

.album img {
  width: 100%;
  height: 250px;
  border-bottom: 3px solid black;
  padding: 0px;
}

.album h3, p {
  padding: 0px 5px;
}

/*footer styling*/

footer {
  border-top: 2px solid black;
  width: 80%;
  text-align: center;
  clear: both;
  margin: 18px 0;
  margin-left: 10%;
  padding: 0 15px;
}

footer h5 {
  margin: 12px 20px;
  display: inline-block;
}

footer h5 a {
  text-decoration: none;
  color: black;
}

footer h5 a:hover {
  color: darkgray;
}

#homepage img {
  margin: 15px;
}

#cat {
  float: left;
}

#morgan {
  float: right;
}

@media screen and (max-width: 980px) {
  header {
    height: auto;
    text-align: center;
  }

  header h1 {
    clear: both;
    text-align: center;
  }

  .nav div {
    clear: both;
    display: block;
    text-align: center;
    padding: 5px;
    color: black;
  }

  .nav a {
    color: black;
  }

  .about p {
    clear: both;
    width: 80%;
    margin-bottom: 50px;
    text-align: center;
  }

  .richards {
    clear: both;
    text-align: center;
    margin: 0 20%;
  }
