/* Navbar Styling*/

body {
  font-family: Futura, sans-serif;
  margin: auto;
}
header a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 20px;
  margin: 0px 10px;
  color: white;
}

header {
  height: 60px;
  text-align: right;
  background-color: darkgrey;
  margin: 0px 0px 10px 10%;
  padding-left: 30px;
  width: 80%;
}

#logo {
  float: left;
  font-family: Futura, sans-serif;
  padding: 10px;
  margin: 0;
  color: white;
}

header a:hover {
  color: gold;
}

/*History.html styling*/
.wrapper {
  width: 80%;
  min-width: 300px;
  background-color: cornflowerblue;
  padding: 15px;
  overflow: auto;
  margin: 0 10%;
}

/*Discography.html styling*/
.album {
  width: 300px;
  border: 5px solid black;
  display: inline-block;
  margin: 10px 10% 0 10%;
  background-color: lightblue;
  font-family: sans-serif;
}

.album img {
  width: 100%;
  height: 250px;
  border-bottom: 3px solid black;
  padding: 0px;
}

.album h3, p {
  padding: 0px 5px;
}

/*footer styling*/

footer {
  margin-top: 18px;
  border-top: 2px solid black;
  text-align: center;
  clear: both;
}

footer h5 {
  margin: 12px 20px;
  display: inline-block;
}

footer h5 a {
  text-decoration: none;
  color: black;
}

footer h5 a:hover {
  color: darkgray;
}

#homepage img {
  float: left;
  margin: 15px;
}
