header a {
  display: inline-block;
  text-decoration: none;
  padding: 20px 20px;
  margin: 0px 10px;
  font-family: Futura, sans-serif;
  color: white;
}

header {
  height: 60px;
  border: 2px solid black;
  text-align: right;
  background-color: darkgrey;
}

#logo {
  float: left;
  font-family: Futura, sans-serif;
  padding: 10px;
  margin: 0;
  color: white;
}

header a:hover {
  color: gold;
}

.history {
  width: 60%;
  min-width: 300px;
  background-color: rgb(200, 183, 7);
}
